/*==================== hide the default side bar ====================*/

html {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display:none;
}

/*==================== body ====================*/

body{
    background-color: #000000;
    cursor: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/*==================== animate background ====================*/
.background-box div{
  position: absolute;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  border: 2px solid #00171F;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation:  cube 5s ease-out forwards infinite alternate;
              
}

.background-box div:nth-child(1){
  width: 20px;
  height: 20px;
  animation-delay: 8s;
  top: 26%;
  left: 39%;
  
}

.background-box div:nth-child(2){
  width: 15px;
  height: 15px;
  animation-delay: 4s;
  top: 72%;
  left: 53%;

}

.background-box div:nth-child(3){
  width: 25px;
  height: 25px;
  animation-delay: 8s;
  top: 19%;
  left: 30%;

}

.background-box div:nth-child(4){
  width: 18px;
  height: 18px;
  animation-delay: 12s;
  top: 12%;
  left: 84%;

}

.background-box div:nth-child(5){
  width: 47px;
  height: 47px;
  animation-delay: 2s;
  top: 55%;
  left: 43%;

}

.background-box div:nth-child(6){
  width: 22px;
  height: 22px;
  animation-delay: 5s;
  top: 69%;
  left: 86%;

}

.background-box div:nth-child(7){
  width: 10px;
  height: 10px;
  animation-delay: 8s;
  top: 67%;
  left: 73%;

}

.background-box div:nth-child(8){
  width: 16px;
  height: 16px;
  animation-delay: 14s;
  top: 76%;
  left: 82%;

}

.background-box div:nth-child(9){
  width: 43px;
  height: 43px;
  animation-delay: 7s;
  top: 35%;
  left: 80%;

}

.background-box div:nth-child(10){
  width: 17px;
  height: 17px;
  animation-delay: 9s;
  top: 9%;
  left: 86%;

}

/*==================== layout of the site ====================*/
#content-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-size: cover;
}

#box1 {
  background: #98D2EB;
  height: 1100px;
  width: 100%;
}
  
#box2 {
  background: #E1F2FE;
  height: 1200px;
  width: 100%;
}

#box3 {
  background: #2F3061;
  height: 1500px;
  width: 100%;
}

#box4 {
  background: #102B3F;
  height: 2900px;
  width: 100%;
}

#box5 {
  background: #343434;
  height: 1200px;
  width: 100%;
}

/*==================== default setting for box ====================*/

.content-box {
  position: relative;
  width: 80%;
  height: auto;
  margin: 5%;
  text-align: left;
  margin-bottom: 15%;
}

.headingText {
  font-family: 'Exo', sans-serif;
  font-size: 60px;
  text-align: left;
}

.mainText {
  font-family: Raleway;
  font-size: 20px;
  text-align: left;
}

.gridBox1 {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 5%;
  align-items: left;
  justify-items: left;
  background-color: #98D2EB;
}

.gridBox2 {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 5%;
  align-items: right;
  justify-items: right;
  background-color: cadetblue;
}

.imgBox {
  position: relative;
  width: 400px;
  height: 300px;
  transition: 1s linear;
  border: 10px solid #FFFFFF;
}

.imgBox2 {
  position: relative;
  width: 400px;
  height: 300px;
  transition: 1s linear;
  border: 10px solid #FFFFFF;
}

.textBox1 {
  display: flex;
  font-family: Raleway;
  position: relative;
  align-items: center;
  justify-items: center;
  font-size: 60px;
  color: #FFFFFF;
  transition: ease 0.8s;
}

.textBox2 {
  display: flex;
  font-family: Raleway;
  position: relative;
  align-items: center;
  justify-items: center;
  font-size: 60px;
  color: #FFFFFF;
  transition: ease 0.8s;
}

.iconButton {
  background-color: rgba(54, 9, 255, 0.1);
  border: none;
}

.icon {
  width: 100px;
  height: 100px;
  margin: 4em;
}



/*==================== specific setting for box ====================*/

#box1 .content-box {
  animation: fadeIn 5s;
}

#box1 .headingText {
  color: #000000;
}

#box1 .mainText {
  font-size: 30px;
  color: #000000;
}

#box2 .content-box {
  display: inline-block;
  top: 7%;
  opacity: 0;
  width: 50vh;
}

#box3 .headingText {
  color: #FFFFFF;
}

#box3 .mainText {
  color: #FFFFFF;
}

#box3 .content-box {
  top: 5%;
  opacity: 0;
}

#box3 .content-box2 {
  display: grid;
  grid-template-columns: 30% 60%;
  padding: 1em;
  justify-items: center;
  opacity: 0;
}

#box4 .content-box {
  top: 3%;
  color: #FFFFFF;
  opacity: 1;
}

#box4 .content-box2 {
  position: relative;
  display: grid;
  left: 10%;
  width: 80%;
  gap: 2em;
  background-color: rgba(0,0,0, 0.4);
}

#box5 .content-box {
  height: 100%;
}

#box5 .headingText {
  color: #FFFFFF;
}

/*==================== Image Carousel ====================*/
#imageset{
  display: inline-block;
  height: 50vh;
}

.image {
  width: 30vw;
  height: auto;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

/*==================== icon ====================*/

.iconContainer {
  top: 30%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.iconButton {
  box-shadow: inset 0 0 0 0 #FFFFFF; 
  transition: ease-out 0.8s;
}

.iconButton:hover { 
  box-shadow: inset 300px 0 0 0 #FFFFFF;
  cursor: none;
}

#top {
  position: relative;
  height: 120px;
  width: 90px;
  top: 30%;
  left: 95%;
}

/*==================== navigation bar ====================*/
  
.bar-container {
  display: flex;
  flex-direction: row-reverse; 
  width: 100%;
  height: 70px;
  text-align: left;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: 0;
  position: fixed;
  z-index: 2;
}
  
.bar-item {
  width: 150px;
  background-color: rgba(0,0,0, 0.4);
  margin: 10px 10px 10px 10px;
  border: none;
  transition: ease-out 0.8s;
  box-shadow: inset 0 0 0 0 #FFFFFF;  

  text-align: left;
  font-family: Raleway;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 18px;
}

.bar-item:hover { 
  box-shadow: inset 300px 0 0 0 #FFFFFF;
  cursor: none;
}
  
#naviButton1:hover {
  color: rgb(18, 204, 117);
}

#naviButton2:hover {
  color: rgb(34, 234, 248);
}

#naviButton3:hover {
  color: rgb(204, 18, 179);
}

#naviButton4:hover { 
  color: rgb(204, 18, 18);
}

/*==================== scroll bar ====================*/

.scrollBar {
  height: 0%;
  width: 10px;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  right: 0;
  transition: 1s linear;
}

/*==================== adjustment for smartphone ====================*/

@media (max-width: 1300px){

  #box4 .content-box{
    top: 0%;
  }

  #box4 .content-box2 {
    left: 10%;
    width: 80%;
  }
}


@media (max-width: 1100px){
  #box2 {
    height: auto;
  }

  #box3 {
    height: auto;
  }

  #box4 {
    height: auto;
  }

  #box2 .content-box {
    top: 2%;
    width: 90%;
  }

  #imageset{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 50vw;
    height: auto;
  }

  #box4 .content-box2 {
    left: 5%;
    width: 90%;
  }

  #box4 .gridBox1 {
    margin: 0%;
  }
  
  #box4 .gridBox2 {
    margin: 0%;
  }

  #box4 .content-box2 {
    left: 0%;
    width: 100%;
  }



}

@media (max-width: 900px){

  .image {
    width: 80vw;
    height: auto;
  }

  #box3 .headingText {
    font-size: 50px;
  }

  #box3 .content-box2 {
    grid-template-columns: 100%;
  }

  #box4 .content-box{
    height: auto;
    margin-bottom: 30em;
  }

  #box4 .gridBox1 {
    grid-template-columns: 50% 50%;
    justify-items: center;
    margin-bottom: 50%;
  }

  #box4 .gridBox2 {
    grid-template-columns: 50% 50%;
    justify-items: center;
    margin-bottom: 50%;
  }

  .imgBox {
    top: -90%;
    left: -5%;
  }

  .imgBox2 {
    top: -90%;
    left: -70%;
  }

  .textBox1 {
    left: -100%;
  }

  .textBox2 {
    left: 5%;
  }


}

@media (max-width: 600px){
  .bar-item {
      margin: 0;
      font-size: 80%;
      width: 25%;
  }

  .scrollBar {
    width: 7px;
  }

  .icon {
    margin: 1em;
  }

}

/*==================== cursor ====================*/
  
.cursor {
  background-color: aliceblue;
  border: 1px solid aliceblue;
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 4;
  transform-origin: 100% 100%;
}

#cursor {
  width: 10px;
  height: 10px;

}

#cursor2 {
  width: 1rem;
  height: 1rem;
  transition: all 0.1s ease;
}

#cursor3 {
  width: 1.25rem;
  height: 1.25rem;
  transition: all 0.2s ease;
}

/*==================== image ====================*/

#valueImg {
  width: 250px;
  height: 40px;
}

#communityImg {
  width: 170px;
  height: 40px;
}

#attitudeImg {
  width: 140px;
  height: 38px;
}

#locationImg {
  width: 150px;
  height: 38px;
}

#supportImg {
  width: 140px;
  height: 40px;
}

/*==================== animation ====================*/

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(10) rotate(930deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% { top: 3%; }
  50% { top: 5%; }
  from { opacity: 0; }
  to { opacity: 1; }
}

.link-grow {
  transform: scale(2);
  transition: ease-out 0.2s;
  background-color: #00171F;
  border: none;
}

.color-change {
  background-color: #00171F;
  border: none;
}

.fadeInAnimation {
  animation: fadeIn 4s;
}

.rotate10 {
  transform: rotate(10deg);
}

.rotate-10 {
  transform: rotate(-10deg);
}