html {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display:none;
}

body{
    background-color: #000000;
    cursor: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/*==================== animate background ====================*/
.background-box div{
  position: absolute;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  border: 2px solid #00171F;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation:  cube 5s ease-out forwards infinite alternate;
              
}

.background-box div:nth-child(1){
  width: 20px;
  height: 20px;
  animation-delay: 8s;
  top: 26%;
  left: 39%;
  
}

.background-box div:nth-child(2){
  width: 15px;
  height: 15px;
  animation-delay: 4s;
  top: 72%;
  left: 53%;

}

.background-box div:nth-child(3){
  width: 25px;
  height: 25px;
  animation-delay: 8s;
  top: 19%;
  left: 30%;

}

.background-box div:nth-child(4){
  width: 18px;
  height: 18px;
  animation-delay: 12s;
  top: 12%;
  left: 84%;

}

.background-box div:nth-child(5){
  width: 47px;
  height: 47px;
  animation-delay: 2s;
  top: 55%;
  left: 43%;

}

.background-box div:nth-child(6){
  width: 22px;
  height: 22px;
  animation-delay: 5s;
  top: 69%;
  left: 86%;

}

.background-box div:nth-child(7){
  width: 10px;
  height: 10px;
  animation-delay: 8s;
  top: 67%;
  left: 73%;

}

.background-box div:nth-child(8){
  width: 16px;
  height: 16px;
  animation-delay: 14s;
  top: 76%;
  left: 82%;

}

.background-box div:nth-child(9){
  width: 43px;
  height: 43px;
  animation-delay: 7s;
  top: 35%;
  left: 80%;

}

.background-box div:nth-child(10){
  width: 17px;
  height: 17px;
  animation-delay: 9s;
  top: 9%;
  left: 86%;

}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(10) rotate(930deg) translate(-50%, -50%);
    opacity: 0;
  }
}


/*==================== layout of the site ====================*/
#content-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-size: cover;
}

#box1 {
  background: #6D6A75;
  height: 1500px;
  width: 100%;
}
  
#box2 {
  background: #E7E5DF;
  height: 1500px;
  width: 100%;
}

#box3 {
  background: rgb(201, 171, 133);
  height: 1500px;
  width: 100%;
}

.content-box {
  position: relative;
  width: 100%;
  height: 300px;
  top: 15%;
  margin: 80px;
  text-align: left;
}

.headingText {
  font-family: 'Exo', sans-serif;
  font-size: 60px;
  text-align: left;
}

.mainText {
  font-family: Raleway;
  font-size: 40px;
  text-align: left;
}

@keyframes easein {
  0% { top: 10%; }
  50% { top: 15%; }
  from { opacity: 0; }
  to { opacity: 1; }
}

#box1 .content-box {
  animation: easein 5s;
}

#box1 .headingText {
  color: #E7E5DF;
}

#box1 .mainText {
  color: #E7E5DF;
}

#box2 .content-box {
  opacity: 0;
}

#box2 .headingText {
  color: #000000;
}

#box2 .mainText {
  color: #000000;
}
  
.bar-container {
  display: flex;
  flex-direction: row-reverse; 
  width: 100%;
  height: 70px;
  text-align: left;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: 0;
  position: fixed;
}
  
.bar-item {
  width: 150px;
  background-color: rgba(0,0,0, 0.4);
  margin: 10px 10px 10px 10px;
  border: none;
  transition: ease-out 0.8s;
  box-shadow: inset 0 0 0 0 #FFFFFF;  

  text-align: left;
  font-family: Raleway;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 18px;
}

.bar-item:hover { 
  box-shadow: inset 300px 0 0 0 #FFFFFF;
  cursor: none;
}
  
#naviButton1:hover {
  color: rgb(18, 204, 117);
}

#naviButton2:hover {
  color: rgb(34, 234, 248);
}

#naviButton3:hover {
  color: rgb(204, 18, 179);
}

#naviButton4:hover { 
  color: rgb(204, 18, 18);
}

.scrollBar {
  height: 0%;
  width: 10px;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  right: 0;
  transition: 1s linear;
}

@media (max-width: 600px){
  .bar-item {
      margin: 0;
      font-size: 80%;
      width: 25%;
  }
  .scrollBar {
    width: 7px;
  }
}

/*==================== cursor ====================*/
  
.cursor {
  background-color: aliceblue;
  border: 1px solid aliceblue;
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 3;
  transform-origin: 100% 100%;
}

#cursor {
  width: 10px;
  height: 10px;

}

#cursor2 {
  width: 1rem;
  height: 1rem;
  transition: all 0.1s ease;
}

#cursor3 {
  width: 1.25rem;
  height: 1.25rem;
  transition: all 0.2s ease;
}

.link-grow {
  transform: scale(2);
  transition: ease-out 0.2s;
  background-color: #00171F;
  border: none;
}

.color-change {
  background-color: #00171F;
  border: none;
}


.easeInAnimation {
  animation: easein 8s;
}

